*{
    box-sizing: border_box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    min-height: 100%;
}

.grid-container{
    display: grid;
    gap: 10px;
    /*definir las areas*/
    grid-template-areas: 
    "header"
    "navbar"
    "main"
    "aside"
    "footer";
}

.grid-container > *{
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    padding:10px;
    text-align: center;
}

.header{
    grid-area: header;
    background-color: #4c4c59;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar{
    grid-area: navbar;
    background-color: aquamarine;
}

.aside{
    grid-area: aside;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
    background-color: black;
    color: aliceblue;
}

@media (min-width:600px){
    .grid-container{
        grid-template:
        "header header" 100px
        "navbar navbar" 50px
        "aside main" auto
        "footer footer" 100px /
        300px auto
    }
}